{% extends "assessment/base.html" %}
{% block body_block %}
<div id="form-id" class="mt-5">
<!-- <h1 class="text-right">
<a href="{% url 'assessment:home' %}" class="text-decoration-none">&#10008;</a>
</h1> -->

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <a class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Note:
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show">
      <div class="card-body">
        <h2 style="
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
">Check your Stress & overall Well-being Score!</h2>

<p>We invite you to take this self-assessment to help gauge your overall level of Stress, Emotional & Mental Wellbeing.</p>

<p>Stress may be manifesting in various ways in different aspects of your life, sometimes consciously, sometimes unconsciously. It could be in the way you hold your body, in the way you react to people, in your emotions and in other less visible ways.</p>

<p>This assessment would allow you to assess your current areas of concern, if any, and establish where you can start your learning journey from.</p>

<p>The Assessment will take about 10-15 minutes to complete. It's an optional but a highly recommended 1st step to start your journey. </p>

<p>The results of this assessment are confidential and not disclosed to anyone. </p>

<p>You can keep coming back to this assessment after a period of time to gauge how you have progressed in terms of your results.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Section A: Mental Wellness
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse show">
      <div class="card-body">
        <p>
          Part A of the Assessment has 23 questions which will take about 6-8 minutes to complete.
          <br>
          <small>How frequently do you find yourself experiencing the situations mentioned below?</small>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>0</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1. How much of the time do you feel you are making progress towards accomplishing your goals? (0 - never, 5 - always)</td>
                <td> <input type="radio" name="SAA1" value="0"> </td>
                <td> <input type="radio" name="SAA1" value="1"> </td>
                <td> <input type="radio" name="SAA1" value="2"> </td>
                <td> <input type="radio" name="SAA1" value="3"> </td>
                <td> <input type="radio" name="SAA1" value="4"> </td>
                <td> <input type="radio" name="SAA1" value="5"> </td>
              </tr>
              <tr>
                <td>2. How often do you become absorbed in what you are doing? (0 - never, 5 - always)</td>
                <td> <input type="radio" name="SAE1" value="0"> </td>
                <td> <input type="radio" name="SAE1" value="1"> </td>
                <td> <input type="radio" name="SAE1" value="2"> </td>
                <td> <input type="radio" name="SAE1" value="3"> </td>
                <td> <input type="radio" name="SAE1" value="4"> </td>
                <td> <input type="radio" name="SAE1" value="5"> </td>
              </tr>
              <tr>
                <td>3. In general, how often do you feel joyful? (0 - never, 5 - always)</td>
                <td> <input type="radio" name="SAP1" value="0"> </td>
                <td> <input type="radio" name="SAP1" value="1"> </td>
                <td> <input type="radio" name="SAP1" value="2"> </td>
                <td> <input type="radio" name="SAP1" value="3"> </td>
                <td> <input type="radio" name="SAP1" value="4"> </td>
                <td> <input type="radio" name="SAP1" value="5"> </td>
              </tr>
              <tr>
                <td>4. In general, how often do you feel anxious? (0 - never, 5 - always)</td>
                <td> <input type="radio" name="SAN1" value="0"> </td>
                <td> <input type="radio" name="SAN1" value="1"> </td>
                <td> <input type="radio" name="SAN1" value="2"> </td>
                <td> <input type="radio" name="SAN1" value="3"> </td>
                <td> <input type="radio" name="SAN1" value="4"> </td>
                <td> <input type="radio" name="SAN1" value="5"> </td>
              </tr>

              <tr>
                <td>5. How often do you achieve the important goals you have set for yourself? (0 - never, 5 - always)</td>
                <td> <input type="radio" name="SAA2" value="0"> </td>
                <td> <input type="radio" name="SAA2" value="1"> </td>
                <td> <input type="radio" name="SAA2" value="2"> </td>
                <td> <input type="radio" name="SAA2" value="3"> </td>
                <td> <input type="radio" name="SAA2" value="4"> </td>
                <td> <input type="radio" name="SAA2" value="5"> </td>
              </tr>
              <tr>
                <td>6. In general, how would you say your health is? (0 - terrible, 5 - excellent)</td>
                <td> <input type="radio" name="SAH1" value="0"> </td>
                <td> <input type="radio" name="SAH1" value="1"> </td>
                <td> <input type="radio" name="SAH1" value="2"> </td>
                <td> <input type="radio" name="SAH1" value="3"> </td>
                <td> <input type="radio" name="SAH1" value="4"> </td>
                <td> <input type="radio" name="SAH1" value="5"> </td>
              </tr>

              <tr>
                <td>7. In general, to what extent do you lead a purposeful and meaningful life? (0 - not at all, 5 - completely)</td>
                <td> <input type="radio" name="SAM1" value="0"> </td>
                <td> <input type="radio" name="SAM1" value="1"> </td>
                <td> <input type="radio" name="SAM1" value="2"> </td>
                <td> <input type="radio" name="SAM1" value="3"> </td>
                <td> <input type="radio" name="SAM1" value="4"> </td>
                <td> <input type="radio" name="SAM1" value="5"> </td>
              </tr>
              <tr>
                <td>8. To what extent do you receive help and support from others when you need it? (0 - not at all, 5 - completely)</td>
                <td> <input type="radio" name="SAR1" value="0"> </td>
                <td> <input type="radio" name="SAR1" value="1"> </td>
                <td> <input type="radio" name="SAR1" value="2"> </td>
                <td> <input type="radio" name="SAR1" value="3"> </td>
                <td> <input type="radio" name="SAR1" value="4"> </td>
                <td> <input type="radio" name="SAR1" value="5"> </td>
              </tr>


              <tr>
                <td>9. In general, to what extent do you feel that what you do in your life is valuable and worthwhile? (0 - not at all, 5 - completely)</td>
                <td> <input type="radio" name="SAM2" value="0"> </td>
                <td> <input type="radio" name="SAM2" value="1"> </td>
                <td> <input type="radio" name="SAM2" value="2"> </td>
                <td> <input type="radio" name="SAM2" value="3"> </td>
                <td> <input type="radio" name="SAM2" value="4"> </td>
                <td> <input type="radio" name="SAM2" value="5"> </td>
              </tr>

              <tr>
                <td>10. In general, to what extent do you feel excited and interested in things? (0 - not at all, 5 - completely)</td>
                <td> <input type="radio" name="SAE2" value="0"> </td>
                <td> <input type="radio" name="SAE2" value="1"> </td>
                <td> <input type="radio" name="SAE2" value="2"> </td>
                <td> <input type="radio" name="SAE2" value="3"> </td>
                <td> <input type="radio" name="SAE2" value="4"> </td>
                <td> <input type="radio" name="SAE2" value="5"> </td>
              </tr>



              <tr>
                <td>11. How lonely do you feel in your daily life? (0 - not at all, 5 - completely)</td>
                <td> <input type="radio" name="SALon" value="0"> </td>
                <td> <input type="radio" name="SALon" value="1"> </td>
                <td> <input type="radio" name="SALon" value="2"> </td>
                <td> <input type="radio" name="SALon" value="3"> </td>
                <td> <input type="radio" name="SALon" value="4"> </td>
                <td> <input type="radio" name="SALon" value="5"> </td>
              </tr>
              <tr>
                <td>12. How satisfied are you with your current physical health? (0 - not at all, 5 - completely)</td>
                <td> <input type="radio" name="SAH2" value="0"> </td>
                <td> <input type="radio" name="SAH2" value="1"> </td>
                <td> <input type="radio" name="SAH2" value="2"> </td>
                <td> <input type="radio" name="SAH2" value="3"> </td>
                <td> <input type="radio" name="SAH2" value="4"> </td>
                <td> <input type="radio" name="SAH2" value="5"> </td>
              </tr>
              <tr>
                <td>13. In general, how often do you feel positive? (0 - never, 5 - always)</td>
                <td> <input type="radio" name="SAP2" value="0"> </td>
                <td> <input type="radio" name="SAP2" value="1"> </td>
                <td> <input type="radio" name="SAP2" value="2"> </td>
                <td> <input type="radio" name="SAP2" value="3"> </td>
                <td> <input type="radio" name="SAP2" value="4"> </td>
                <td> <input type="radio" name="SAP2" value="5"> </td>
              </tr>
              <tr>
                <td>14. In general, how often do you feel angry? (0 - never, 5 - always)</td>
                <td> <input type="radio" name="SAN2" value="0"> </td>
                <td> <input type="radio" name="SAN2" value="1"> </td>
                <td> <input type="radio" name="SAN2" value="2"> </td>
                <td> <input type="radio" name="SAN2" value="3"> </td>
                <td> <input type="radio" name="SAN2" value="4"> </td>
                <td> <input type="radio" name="SAN2" value="5"> </td>
              </tr>

              <tr>
                <td>15. How often are you able to handle your responsibilities? (0 - never, 5 - always)</td>
                <td> <input type="radio" name="SAA3" value="0"> </td>
                <td> <input type="radio" name="SAA3" value="1"> </td>
                <td> <input type="radio" name="SAA3" value="2"> </td>
                <td> <input type="radio" name="SAA3" value="3"> </td>
                <td> <input type="radio" name="SAA3" value="4"> </td>
                <td> <input type="radio" name="SAA3" value="5"> </td>
              </tr>
              <tr>
                <td>16. In general, how often do you feel sad? (0 - never, 5 - always)</td>
                <td> <input type="radio" name="SAN3" value="0"> </td>
                <td> <input type="radio" name="SAN3" value="1"> </td>
                <td> <input type="radio" name="SAN3" value="2"> </td>
                <td> <input type="radio" name="SAN3" value="3"> </td>
                <td> <input type="radio" name="SAN3" value="4"> </td>
                <td> <input type="radio" name="SAN3" value="5"> </td>
              </tr>

              <tr>
                <td>17. How often do you lose track of time while doing something you enjoy? (0 - never, 5 - always)</td>
                <td> <input type="radio" name="SAE3" value="0"> </td>
                <td> <input type="radio" name="SAE3" value="1"> </td>
                <td> <input type="radio" name="SAE3" value="2"> </td>
                <td> <input type="radio" name="SAE3" value="3"> </td>
                <td> <input type="radio" name="SAE3" value="4"> </td>
                <td> <input type="radio" name="SAE3" value="5"> </td>
              </tr>
              <tr>
                <td>18. Compared to others of your same age and sex, how is your health? (0 - terrible, 5 - excellent)</td>
                <td> <input type="radio" name="SAH3" value="0"> </td>
                <td> <input type="radio" name="SAH3" value="1"> </td>
                <td> <input type="radio" name="SAH3" value="2"> </td>
                <td> <input type="radio" name="SAH3" value="3"> </td>
                <td> <input type="radio" name="SAH3" value="4"> </td>
                <td> <input type="radio" name="SAH3" value="5"> </td>
              </tr>


              <tr>
                <td>19. To what extent do you feel loved? (0 - not at all, 5 - completely)</td>
                <td> <input type="radio" name="SAR2" value="0"> </td>
                <td> <input type="radio" name="SAR2" value="1"> </td>
                <td> <input type="radio" name="SAR2" value="2"> </td>
                <td> <input type="radio" name="SAR2" value="3"> </td>
                <td> <input type="radio" name="SAR2" value="4"> </td>
                <td> <input type="radio" name="SAR2" value="5"> </td>
              </tr>

              <tr>
                <td>20. To what extent do you generally feel you have a sense of direction in your life? (0 - not at all, 5 - completely)</td>
                <td> <input type="radio" name="SAM3" value="0"> </td>
                <td> <input type="radio" name="SAM3" value="1"> </td>
                <td> <input type="radio" name="SAM3" value="2"> </td>
                <td> <input type="radio" name="SAM3" value="3"> </td>
                <td> <input type="radio" name="SAM3" value="4"> </td>
                <td> <input type="radio" name="SAM3" value="5"> </td>
              </tr>

              <tr>
                <td>21. How satisfied are you with your relationships? (0 - not at all, 5 - completely)</td>
                <td> <input type="radio" name="SAR3" value="0"> </td>
                <td> <input type="radio" name="SAR3" value="1"> </td>
                <td> <input type="radio" name="SAR3" value="2"> </td>
                <td> <input type="radio" name="SAR3" value="3"> </td>
                <td> <input type="radio" name="SAR3" value="4"> </td>
                <td> <input type="radio" name="SAR3" value="5"> </td>
              </tr>


              <tr>
                <td>22. In general, to what extent do you feel contented? (0 - not at all, 5 - completely)</td>
                <td> <input type="radio" name="SAP3" value="0"> </td>
                <td> <input type="radio" name="SAP3" value="1"> </td>
                <td> <input type="radio" name="SAP3" value="2"> </td>
                <td> <input type="radio" name="SAP3" value="3"> </td>
                <td> <input type="radio" name="SAP3" value="4"> </td>
                <td> <input type="radio" name="SAP3" value="5"> </td>
              </tr>

              <tr>
                <td>23. Taking all things together, how happy would you say you are? (0 - not at all, 5 - completely)</td>
                <td> <input type="radio" name="SAhap" value="0"> </td>
                <td> <input type="radio" name="SAhap" value="1"> </td>
                <td> <input type="radio" name="SAhap" value="2"> </td>
                <td> <input type="radio" name="SAhap" value="3"> </td>
                <td> <input type="radio" name="SAhap" value="4"> </td>
                <td> <input type="radio" name="SAhap" value="5"> </td>
              </tr>

            </tbody>
          </table>
        </p>
        <p class="d-none" id="w-display">
          <small>How frequently do you find yourself experiencing the situations mentioned below?</small>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Section B: Stress
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse show">
      <div class="card-body">
        <p>
          Part B of the Assessment has 12 questions which will take about 3-5 minutes to complete.
          <br>
          <small>How frequently do you find yourself experiencing the situations mentioned below?</small>
        </p>
        <table class="table table-striped table-bordered tbCenter">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Constantly</th>
              <th>Often/Regularly</th>
              <th>Once in a way</th>
              <th>Never</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-left">1. Tension in the body, like tense muscles, sore back or neck</td>
              <td><input type="radio" name="SBQ1" value="Constantly"></td>
              <td><input type="radio" name="SBQ1" value="Often/Regularly"></td>
              <td><input type="radio" name="SBQ1" value="Once in a way"></td>
              <td><input type="radio" name="SBQ1" value="Never"></td>
            </tr>

            <tr>
              <td class="text-left">2. Difficulty falling asleep or finding yourself over sleeping?</td>
              <td><input type="radio" name="SBQ2" value="Constantly"></td>
              <td><input type="radio" name="SBQ2" value="Often/Regularly"></td>
              <td><input type="radio" name="SBQ2" value="Once in a way"></td>
              <td><input type="radio" name="SBQ2" value="Never"></td>
            </tr>
            <tr>
              <td class="text-left">3. Having Mood Swings</td>
              <td><input type="radio" name="SBQ3" value="Constantly"></td>
              <td><input type="radio" name="SBQ3" value="Often/Regularly"></td>
              <td><input type="radio" name="SBQ3" value="Once in a way"></td>
              <td><input type="radio" name="SBQ3" value="Never"></td>
            </tr>
            <tr>
              <td class="text-left">4. Experiencing Irritation or anger with things outside of your control</td>
              <td><input type="radio" name="SBQ4" value="Constantly"></td>
              <td><input type="radio" name="SBQ4" value="Often/Regularly"></td>
              <td><input type="radio" name="SBQ4" value="Once in a way"></td>
              <td><input type="radio" name="SBQ4" value="Never"></td>
            </tr>
            <tr>
              <td class="text-left">5. Facing Health Issues like headaches, stomach upsets, rashes on the body etc</td>
              <td><input type="radio" name="SBQ5" value="Constantly"></td>
              <td><input type="radio" name="SBQ5" value="Often/Regularly"></td>
              <td><input type="radio" name="SBQ5" value="Once in a way"></td>
              <td><input type="radio" name="SBQ5" value="Never"></td>
            </tr>
            <tr>
              <td class="text-left">6. Irregular Eating Habits like eating too much or too little</td>
              <td><input type="radio" name="SBQ6" value="Constantly"></td>
              <td><input type="radio" name="SBQ6" value="Often/Regularly"></td>
              <td><input type="radio" name="SBQ6" value="Once in a way"></td>
              <td><input type="radio" name="SBQ6" value="Never"></td>
            </tr>
            <tr>
              <td class="text-left">7. Discomfort in communicating with people in your work place or personal life</td>
              <td><input type="radio" name="SBQ7" value="Constantly"></td>
              <td><input type="radio" name="SBQ7" value="Often/Regularly"></td>
              <td><input type="radio" name="SBQ7" value="Once in a way"></td>
              <td><input type="radio" name="SBQ7" value="Never"></td>
            </tr>
            <tr>
              <td class="text-left">8. Getting tired easily or experiencing fatigue</td>
              <td><input type="radio" name="SBQ8" value="Constantly"></td>
              <td><input type="radio" name="SBQ8" value="Often/Regularly"></td>
              <td><input type="radio" name="SBQ8" value="Once in a way"></td>
              <td><input type="radio" name="SBQ8" value="Never"></td>
            </tr>
            <tr>
              <td class="text-left">9. Bouts of boredeom or feeling low</td>
              <td><input type="radio" name="SBQ9" value="Constantly"></td>
              <td><input type="radio" name="SBQ9" value="Often/Regularly"></td>
              <td><input type="radio" name="SBQ9" value="Once in a way"></td>
              <td><input type="radio" name="SBQ9" value="Never"></td>
            </tr>
            <tr>
              <td class="text-left">10. Feeling upset because of something that happened unexpectedly</td>
              <td><input type="radio" name="SBQ10" value="Constantly"></td>
              <td><input type="radio" name="SBQ10" value="Often/Regularly"></td>
              <td><input type="radio" name="SBQ10" value="Once in a way"></td>
              <td><input type="radio" name="SBQ10" value="Never"></td>
            </tr>
            <tr>
              <td class="text-left">11. Finding it difficult to cope with all the things that you have to do</td>
              <td><input type="radio" name="SBQ11" value="Constantly"></td>
              <td><input type="radio" name="SBQ11" value="Often/Regularly"></td>
              <td><input type="radio" name="SBQ11" value="Once in a way"></td>
              <td><input type="radio" name="SBQ11" value="Never"></td>
            </tr>
            <tr>
              <td class="text-left">12. Finding the need to take intoxicants or stimulants</td>
              <td><input type="radio" name="SBQ12" value="Constantly"></td>
              <td><input type="radio" name="SBQ12" value="Often/Regularly"></td>
              <td><input type="radio" name="SBQ12" value="Once in a way"></td>
              <td><input type="radio" name="SBQ12" value="Never"></td>
            </tr>
          </tbody>
        </table>
        <p class="d-none" id="w-display">
          <small>How frequently do you find yourself experiencing the situations mentioned below?</small>
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
          Section C: Gauging Interest & Priorities
        </a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse show">
      <div class="card-body">
        <p>Out of the list below, what are the top two areas of interest or priority for you:</p>
        <p><input type="checkbox" id="CHQ1" name="going_beyond_stress"> Going Beyond Stress</p>
        <p><input type="checkbox" id="CHQ2" name="finding_sustained_happiness"> Finding Sustained Happiness</p>
        <p><input type="checkbox" id="CHQ3" name="mental_emotional_wellness"> Mental & Emotional Wellness</p>
        <p><input type="checkbox" id="CHQ4" name="positive_parenting"> Positive Parenting</p>
        <p><input type="checkbox" id="CHQ5" name="healthy_relationship"> Healthy Relationships</p>
        <p><input type="checkbox" id="CHQ6" name="accelerated_professional_growth"> Accelerated Professional Growth</p>
        <p><input type="checkbox" id="CHQ7" name="healthy_lifestyle"> Healthy Lifestyle</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="errorModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Error Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- TOAST -->
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast show" data-autohide="false">
  <div class="toast-header">
    <strong class="mr-auto text-danger">Error Alert</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>

<p>&nbsp;</p>
<input type="button" class="btn btn-primary" value="submit" onclick="formValidation();">
<p>&nbsp;</p>
<form method="post" id="form-validate" class="d-none">
  <div class="">
    {% csrf_token %}
    {{form.as_p}}
    <p id="loginUserId">{{user.pk}}</p>
  </div>
  <p>&nbsp;</p>
  <input type="submit" class="btn btn-primary d-none" value="submit" id="submittedBtn">
</form>
</div>
{% endblock %}
